@model IEnumerable<WebApplication1.SalesTerritory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryRegionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesYTD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesLastYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostYTD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostLastYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rowguid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryRegionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesYTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesLastYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostYTD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostLastYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rowguid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TerritoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TerritoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TerritoryID })
        </td>
    </tr>
}

</table>
